body{
    margin: 0;
    font-family:'Gilroy', sans-serif;
    font-size: 18px;
    color: #828282;
    background-color: #fff;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

p{
    margin: 0;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
============================== */

.header_inner{
    padding-top: 33px;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
}

.nav{
    display: flex;
    justify-content: space-between;
}

.nav_link{
    text-decoration: none;
    color: #828282;
    font-weight: bold;
    transition: .4s;
}

.nav_link:hover{
    color: #000;
}

/* Intro 
=======================*/

.intro {
    margin-top: 40px;
}

.intro_about{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.intro_name{
    font-size: 47px;
    font-weight: bold;
    color: #000;
}

.intro_info{
    color:#000;
}

.intro_language{
    font-size: 16px;
    font-weight: bold;
    transform: rotate(270deg);
}

.language_active{
    color: #000;
}

.language{
    cursor: pointer;
}

.language:first-child::after{
    content: "";
    width: 2px;
    height: 14px;
    background-color: #828282;
    display: inline-block;
}

.intro_photo{
    margin-top: 30px;
    height: 387px;
    overflow: hidden;
}

.intro_img{
    width: 100%;
}

/* About
======================== */

.about{
    margin-top: 224px;
    color: #000;
}

.about_inner{
    max-width: 485px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_title{
    font-size: 34px;
    font-weight: bold;
}

.about_item{
    font-size: 18px;
    text-align: center;
    margin-top: 40px;
}

/* Skills
======================= */

.skills{
    margin-top: 180px;
}

.skills_title{
    color:#000;
    font-size: 34px;
    font-weight: bold;
    text-align: center;
}

.skills_subtitle{
    font-size: 18px;
    color:#000;
    margin-top: 69px;
    text-align: center;

}

.skills_list{
    margin-top: 83px;
    display: flex;
    flex-wrap: wrap;
}

.skills_item{
    width: 25%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}

.skill_name{
    margin-top: 23px;
    font-size: 14px;
    color:#828282;
    font-weight: bold;
    width: 89px;
    text-align: center;
}

.skill_img{
    width: 90px;
    height: 90px;
}

.skill_figma{
    width: 58px;
}

.skill_stars{
    margin-top: 33px;
}

.skill_star{
    width: 20px;
    height: 20px;
}

.gray_star{
    fill: #E5E5E5;
}

/* Portfolio
================== */

.portfolio{
    margin-top: 222px;
}

.portfolio_title{
    font-size: 34px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.portfolio_subtitle{
    font-size: 18px;
    color: #000;
    text-decoration: underline;
    text-align: center;

    margin-top: 44px;
    margin-bottom: 99px;
}

.portfolio_img{
    width: 100%;
    margin-top: 50px;
}

/* Contacts */

.contacts{
    margin-top: 111px;
}

.contacts_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts_title{
    font-size: 34px;
    color: #000;
    font-weight: bold;
    text-align: center;
}

.contact_subtitle{
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-top: 20px;
}

.button{
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
}

.btn{
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 50px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
}

.social_links{
    margin-top: 92px;
    list-style-type: none;
    width: 262px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.social_img{
    width: 40px;
    height: 40px;
}

.linkme{
    margin-top: 45px;
    margin-bottom: 123px;
    color:#828282;
    font-size: 14px;
    text-align: center;
}

@media (max-width:767px){

    .intro_language{
        display: none;
    }

    .nav{
        display: none;
    }

    .skills_item{
        width: 50%;
        margin-bottom: 30px;
    }

    

}

@media (max-width:375px){

    .intro_about{
        flex-direction: column;
        align-items:flex-start;
    }

    .intro_info{
        margin-top: 23px;
    }

    .skills_item{
        width: 100%;
    }
}